#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
* {
	font-size: 22px;
}

form {
	margin: auto;
	text-align: center;
	align-items: center;
}

.form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 600px;
	gap: 8px;
	margin: auto;
}
.form button {
	min-width: 120px !important;
}
.form .input {
	flex: 1;
}

.chips {
	display: flex;
	flex-wrap: wrap;
	width: 360px;
	gap: 16px;
	justify-content: space-evenly;
	margin: auto;
}

.chip {
	position: relative;
	cursor: pointer;
}

.chip::after {
	content: attr(data-value);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	color: rgb(15, 15, 15);
	font-weight: 700;
	pointer-events: none !important;
}

.chip img {
	display: block;
	width: 80px;
}
.user {
	display: flex;
	flex-direction: row;
	align-items: center !important;
	margin: auto;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	* {
		font-size: 34px !important;
	}
	.form {
		flex-direction: column;
		max-width: 760px;
	}
	.form button {
		min-width: auto !important;
	}
	.chips {
		width: auto;
	}
}

@media only screen and (max-width: 480px) {
	.chip {
		width: 90px; /* Уменьшаем размер чипов на маленьких экранах */
	}
	.chips {
		gap: 8px;
	}
	.chip::after {
		font-size: 20px; /* Уменьшаем размер текста значений на чипах */
	}
	.chip img {
		width: 90px; /* Уменьшаем размер изображений на чипах */
	}
}
