#root {
	max-width: 1280px;
	margin: 0 auto;
}
* {
	font-size: 22px;
}

.chips {
	display: flex;
	flex-wrap: wrap;
	width: 360px;
	gap: 16px;
	justify-content: space-evenly;
	margin: auto;
}

.chip {
	position: relative;
	cursor: pointer;
}

.chip::after {
	content: attr(data-value);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
	color: rgb(15, 15, 15);
	font-weight: 700;
	pointer-events: none !important;
}

.chip img {
	display: block;
	width: 80px;
}
.user {
	display: flex;
	flex-direction: row;
	align-items: center !important;
	margin: auto;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
	.chips {
		width: 300px;
	}
}
